{% extends "base.html" %}
{% block title %}<h1 style="color:white">Configuración cambiada</h1>{% endblock %}
{% block head %}<h2 style="color:white">Configuración cambiada</h2>{% endblock %}
{% block content %}
    <p style="color:white">La configuración ha sido cambiada.</p>
    <a href="/StarWarsConsole/home">Home</a>
    <style>
      body{
        background: url(https://wallpapertag.com/wallpaper/middle/5/6/6/338971-star-wars-hd-wallpaper-1920x1080-retina.jpg) no-repeat center center fixed;
        background-size: cover;
      }
      </style>
{% endblock %}
