{% extends "base.html" %}

<h1 style="color:white">Juego Star Wars</h1>
{% block head %}Juego Star Wars{% endblock %}
{% block content %}
    <h2 style="color:white">Bienvenido {{ user.username }}</h2>
    <p><a href="/StarWarsConsole/logout/">Logout</a></p>
    <style>
    body{
      background: url(https://wallpapertag.com/wallpaper/middle/b/a/f/338883-free-download-star-wars-hd-wallpaper-1920x1080-mac.jpg) no-repeat center center fixed;
      background-size: cover;

    }
    </style>
{% endblock %}
