{% extends "base.html" %}

<h1 style="color:white">Juego Star Wars</h1>
{% block head %}<h2 style="color:white">Juego Star Wars</h2>{% endblock %}
{% block content %}
    <h2 style="color:white">Bienvenido {{ tipo }}: {{ usuario }}</h2>
    <h2 style="color:white">Mision: {{ mision }}</h2>
    <h2 style="color:white">Bando: {{ bando }}</h2>
    <h2 style="color:white">Dificultad: {{ dificultad }}</h2>
    <p><a href="/StarWarsConsole/configuration/">Configuración</a></p>
    <p><a href="/StarWarsConsole/logout/">Logout</a></p>
    <style>
    body{
      background: url(https://wallpapertag.com/wallpaper/middle/b/a/f/338883-free-download-star-wars-hd-wallpaper-1920x1080-mac.jpg) no-repeat center center fixed;
      background-size: cover;

    }
    </style>
{% endblock %}
