{% extends "base.html" %}
{% block title %}Registro Exitoso{% endblock %}
{% block head %}Registro Exitoso{% endblock %}
{% block content %}
    <h1 style="color:white">El registro ha sido realizado de forma exitosa.</h1>
    <a href="/StarWarsConsole/accounts/login">Login</a>
    <style>
      body{
        background: url(https://wallpapertag.com/wallpaper/middle/5/6/6/338971-star-wars-hd-wallpaper-1920x1080-retina.jpg) no-repeat center center fixed;
        background-size: cover;
      }
      </style>
{% endblock %}
